= render "module/header"
.contents
  - @tweets.each do |tweet|
    .contents__box
      .contents__box__center
        - if tweet.image.attached?
          %p.date
            = tweet.created_at
          .image__box
            = image_tag tweet.image, size: "200x150"
          %h4.nameplate
            = tweet.name
          %p.text__area
            = tweet.text
          .text__end 続きを読む>
    .contents__space
