= render "module/header"
.contents
  - @tweets.each do |tweet|
    .contents__box
      .contents__box__center
        - if tweet.image.attached?
          .image_box
            = image_tag tweet.image, size: "350x262"
          %p.date
            = tweet.created_at
          .nameplate
            = tweet.name
          .text__area
            = tweet.text
          .text__end 続きよをむ
