= render "module/header"
.contents
  - @tweets.each do |tweet|
    .contents__box
      .contents__box__center
        - if tweet.image.attached?
          .user_name_image_box
            .user_image
              = image_tag tweet.user.image, size:"35x35", class:"image_css"
            .user_name
              %span
                = link_to tweet.user.name, "/users/#{tweet.user.id}"
        %p.date
          = simple_time(tweet.created_at)
        .image__box
          = image_tag tweet.image, size: "200x150"
        %h4.nameplate
          = tweet.name
        .text__area
          %p
            = simple_format(tweet.text)
        .text__end
          = link_to '続きを読む>', "/tweets/#{tweet.id}"
    .contents__space
  .paginate_box
    = paginate(@tweets)

-# %h1 いいねサンプル
-# - if user_signed_in?
-#   = link_to "ログアウト", destroy_user_session_path, :method => :delete
-#   = link_to "マイページへ", user_path(current_user.id)
-#   = link_to "ユーザー一覧へ", users_path
-#   %hr/
-#   %h2 投稿一覧
-#   - @tweets.each do |tweet|
-#     %a{:href => "/users/#{tweet.user.id}"}= tweet.user.email
-#     %a{:href => "/tweets/#{tweet.id}"}= tweet.name
-#     (#{tweet.liked_users.count})
-# - else
-#   = link_to "ユーザー登録", new_user_registration_path
-#   = link_to "ログイン", new_user_session_path

