.contentes_row
  = form_with( model:@tweet, url: tweets_path, local: true) do |f|
    %h3 投稿
    .name_box
      = f.text_field :name, placeholder: 'タイトル'
    .image_box
      = f.file_field :image
    .text_box
      = f.text_area :text ,placeholder: 'text', class: "text_box_area"
    .submit_button
      = f.submit '送信する' do
        送信する

