= render "module/header"
.contents
  .contents__box
    .contents__box__center
      - if @tweet.image.attached?
        .user_name_image_box
          .user_image
            = image_tag @tweet.user.image, size:"35x35", class:"image_css"
          .user_name
            %span
              = @tweet.user.name
      %p.date
        = simple_time(@tweet.created_at)
      .image__box
        - if @tweet.image.attached?
          = image_tag @tweet.image, size: "350x262"
      %h4.nameplate
        = @tweet.name
      %p.text__area
        = simple_format(@tweet.text)
      .like_count_box_flex
        .like_count_box
          .like_count
            いいね件数: #{@tweet.likes.count}
          .like_box
            - if current_user.already_liked?(@tweet)
              = button_to 'いいねを取り消す', tweet_like_path(@tweet), method: :delete
            - else
              = button_to 'いいね', tweet_likes_path(@tweet)
        - if user_signed_in? && current_user.id == @tweet.user_id
          .text__end
            = link_to '削除', "/tweets/#{@tweet.id}", method: :delete

-# %h1 投稿詳細ページ
-# %h3= @tweet.user.email
-# %h3= @tweet.name
-# .like_count
-#   いいね件数: #{@tweet.likes.count}
-# .like_box
-#   - if current_user.already_liked?(@tweet)
-#     = button_to 'いいねを取り消す', tweet_like_path(@tweet), method: :delete
-#   - else
-#     = button_to 'いいね', tweet_likes_path(@tweet)
-# %h2 いいねしたユーザー
-# - @tweet.liked_users.each do |user|
-#   %li= user.email
-# = link_to "ホームへ戻る", tweets_path


