= render "module/header"
%h3= @user.name
%h2 投稿内容
- @user.tweets.each do |tweet|
  %a{:href => "/tweets/#{tweet.id}"}= tweet.name
  %hr/
%h3 いいねしている投稿
- @user.liked_tweets.each do |tweet|
  .user_tweet_box
    = link_to tweet.user.name, "/tweets/#{tweet.id}"
    = link_to tweet.name, "/tweets/#{tweet.id}"
    %hr/