= render "module/header"
.contents__box
  .contents__box__center
    .user_name_image_box
      .user_image
        = image_tag @user.image, size:"80x80", class:"image_css"
      .user_name
        %span
          %h4= @user.name
    %h3 投稿内容
    - @user.tweets.each do |tweet|
      %a{:href => "/tweets/#{tweet.id}"}= tweet.name
      %hr/
    = paginate(@tweets)
    %h3 いいねしている投稿
    - @user.liked_tweets.each do |tweet|
      .user_tweet_box
        .user_name_image_box
          .user_image
            = image_tag tweet.user.image, size:"35x35", class:"image_css"
          .user_name
            %span{style: "font-size: 18px"}
              = link_to tweet.user.name, "/tweets/#{tweet.id}"
              = link_to tweet.name, "/tweets/#{tweet.id}"
        %hr/